# exclude IntelliJ project files
.idea/
*.iws
*.ipr
*.iml
atlassian-ide-plugin.xml

# ignore Eclipse project files
.classpath
.project
.settings
.springBeans

# Gradle
.gradle/
build/

# Mac
.DS_Store

# VIM swap files
*.swp

# Log files
*.log

# LibreOffice lock files
.~lock.*
